@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
<partial name="ListaObjetoEscuela" />
<h3>Fecha: @ViewBag.Fecha</h3>
